@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.sup{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.pasos {
    font-family: 'Titillium Web' , sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;

    margin: 40px 0;
}



.paso-1, .paso-2, .paso-3, .paso-4, .paso-5 {
    width: 38px;
    height: 38px;
    color: white;
    background-color: #c4c4c4;
    border-radius: 50px;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paso-seleccionado {
    background-color: #f5a02e;
}

.det-pasos{
    width: 348px;
    height: 38px;
    margin-top: 62px;
    margin-bottom: 32px;
}
.caja{
    width: 483px;
    height: 61px;
    border: 1px solid #132942;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.titData{
    width: 100%;
    height: 48.84px;
    font-family: 'Titillium Web' , sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #132942;
    
}
.auto-data{
    width: 390px;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;    
   
}
.auto-data div{
    font-family: 'Titillium Web' , sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #132942;
    align-items: center;

}

.form-group .border-error {
    border: 2px solid #86181b !important;
}

.container-gris {
    background: #c4c4c4;
    height: 37px;
    width: 1116px;
}

.container-gris .text-container-gris {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #ffffff;
    padding: 5px 0;
}

/* INPUT TELEFONO */
.input-phone-group {
    display: flex;
    width: 379px!important;
}

.input-phone-append {
    display: flex;
}



.selectores-phone-area {
    width: 80px!important;
    overflow: hidden;
}

.selectores-phone-number {
    width: 186px!important;
}

.telefono-checkout-input {
    margin: 0 0 30px 0!important;
}

.input-phone-static-numbers-checkout {
    display: flex;
    align-items: center;
    height: 35.14px;
    padding: 0.375rem 0.75rem;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    color: #495057;
}

.input-t {
    box-sizing: border-box;
    width: 379px;
    height: 31px;
    background: #ffffff;
    border: 2px solid #73D0F6;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}
.dni input::-webkit-input-placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #DCD1D1;
}
.margin-dni {
    margin-left: 15px;
}

.genero {
    display: flex;
}

.genero-p {
    font-family: 'Poppins', sans-serif !important;
    font-style: normal !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    letter-spacing: -0.015em;
    color: #DCD1D1;
}

.msj-error-email-box {
    width: 379px!important;
    margin: -22px 0 0 0!important;
}

.form-group .msj-error-email-box #msjErrorEmailPersona {
    margin: 0!important;
    padding: 0!important;
    color: #86181b;
}  

.form-group .msj-error-email-box #msjErrorTelefono {
    margin: 0!important;
    padding: 0!important;
    color: #86181b;
}


.error-validar-dni {
    width: auto;
    height: auto;
    border: 1px solid rgb(168, 0, 0);
    background-color: #f8d7da;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
     margin-top: 30px;
}

.error-validar-dni p {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: -0.015em !important;padding: 20px 0;
    margin: 0!important;
    max-width: none!important;
}

.btn-continuar {
    box-sizing: border-box;
    width: 279px;
    height: 40.49px;
    background: #F5A02E;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    border-color: #F5A02E; 
    border: 1px solid #F5A02E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.form-control {
    box-sizing: border-box !important;
    width: 379px!important;
    height: 31px !important;
    background: #ffffff ;
    border: 2px solid #73D0F6 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 30px !important;
    border-radius: initial !important;
}

.form-control-select2 {
    box-sizing: border-box !important;
    width: 379px!important;
    background: #ffffff ;
    border: 2px solid #73D0F6 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    margin-bottom: 30px!important;
    border-radius: initial !important;
}

.select2-container--focus{
    margin-top: 0!important;
    margin-bottom: 30px!important;
    padding: 0!important;
    height: auto!important;
}
.select2-container--above {
    margin-top: 0!important;
    margin-bottom: 30px!important;
    padding: 0!important;
    height: auto!important;
}
.select2-container--open {
    margin-top: 0!important;
    margin-bottom: 30px!important;
    padding: 0!important;
    height: auto!important;
}

.oscuro{
    background: #C4C4C4 !important;
}
label {
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: -0.015em!important;
}
.telefono input::-webkit-input-placeholder{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.015em;
    color: #DCD1D1;
}
.caja-grande {
    width: 891px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 150px;
    font-family: 'Poppins', sans-serif !important;
}

.caja-grande label {
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: -0.015em!important;
}

.caja-grande .caja-grande-izq {
    width: 445.50px;
}

.caja-grande .caja-grande-der {
    width: 445.50px;
}

.ancho-input {
    width: 125px!important;
    padding: initial;
}

.ancho-input-dir {
    width: 125px!important;
}

.btn-volver{
    box-sizing: border-box;
    width: 279px;
    height: 40.49px;
    background: #c4c4c4;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.015em;
    /* border-color: #c4c4c4; */
    text-decoration: none;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif !important;
    margin: 60px 0px;
}

.btn-volver:hover{
    color: #ffffff;
}

.row {
    margin-bottom: -20px!important;
    justify-content: initial !important;
}

.recuadro {
    border: 2px solid black;
    width: 737px;
}

.container h1 {
    font-weight: 700;
}

.recuadro p {
    padding: 20px 0;
    font-weight: 700;
}

.cuadro_fecha{
    width: 84px;
    height: 31px;
    background: #ffffff;
    border: 2px solid #73D0F6;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    float: left;
    text-align: center !important;
    /* margin-bottom: 30px; */
}





.cuadro_barra{
    width: 34px;
    height: 31px;
    background: #73D0F6;
    border: 2px solid #73D0F6;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    float: left;
    text-align: center !important;
    /* margin-bottom: 30px; */
}
/*
    Media querie - Mobile
*/

@media (max-width: 1000px) {

    .caja-grande {
        flex-direction: column;
        width: auto;
    }
}

@media (max-width: 767px) {

    .caja-grande {
        margin-left: 72px;
    }
}

@media (max-width: 475px) {
    .titData  {
        font-size: 25px;
    }
    .caja {
        width: 318px;
    }
    .auto-data div {
        font-size: 11px;
    }

    .caja-grande label {
        font-size: 14px;
    }
    .form-control {
        width: 380px;
        font-size: 14px;
    }
    .container-gris {
        display: none;
    }
    .margin-dni {
        margin-left: 0;
    }
    .pl-5, .px-5 {
        padding-left: 0rem!important;
    }
    .error-validar-dni {
        width: 387px;
        height: 200px;
        border: 1px solid rgb(168, 0, 0);
        background-color: #f8d7da;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
        font-weight: 700;
        margin-top: 30px;
        margin-left: 13px;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .btn-continuar {
        box-sizing: border-box;
        width: 370px;
        height: 40.49px;
        background: #F5A02E;
        border-radius: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.015em;
        border-color: #F5A02E;
        margin-left: 8px;
    }
    .caja-grande {
        width: 400.50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 0;
        margin-top: 0;
    }
    .caja-grande-izq {
        width: 222.75px;
    }
    .caja-grande-der {
        width: 222.75px;
    }
    .btns {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 12px;
    }
    .mt-5, .my-5 {
        margin-top: 0rem!important;
    }
    .btn-volver {
        box-sizing: border-box;
        width: 370px;
        height: 40.49px;
        background: #c4c4c4;
        border-radius: 10px;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.015em;
        border-color: #c4c4c4;
        text-decoration: none;
        margin-top: 20px;
    }
    .mr-5, .mx-5 {
        margin-right: 0rem!important;
    }
    .ml-5, .mx-5 {
        margin-left: 0.5rem!important;
    }
    .form-group {
        margin-bottom: 1rem;
        margin-top: 2rem;
    }
    .genero {
        display: flex;
    }
    /* M치rgenes de los 3 input que est치n sobre una fila */
    .mr-3, .mx-3 {
        margin-right: 1.5rem!important;
    }
    /* Row donde est치 Nacionalidad, ocupaci칩n y estado civil*/
    .row {
        margin-bottom: -30px!important;
    }
    .recuadro {
        width: 380px;
        border: 0;
    }
    .recuadro p {
        font-weight: normal;
    }
    /* Del recuadro donde dice "Para tu Volkwagen..." */
    .pb-5, .py-5 {
        padding-bottom: 0rem!important;
    }
    .h1, h1 {
        font-size: 1.2rem;
    }

    .container {
        display: flex;
        justify-content: center;
    }

}

